<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </nav>
    <main>
        <p>
          Linkin Park is an American rock band from Agoura Hills, California.
          Since its formation in 1996, the band has sold more than 100 million
          albums and won two Grammy Awards. It achieved mainstream success with
          its debut album, Hybrid Theory, which was certified Diamond by the RIAA
          in 2005. Its following studio album, Meteora, continued the band's
          success, topping the Billboard 200’s album charts in 2003, and was
          followed by extensive touring and charity work around the world. In
          2003, MTV2 named Linkin Park the sixth greatest band of the music video
          era.
        </p>
        <p>
          Having adapted the nu metal and rap metal genres to a radio-friendly yet
          densely-layered style in Hybrid Theory and Meteora, the band explored
          lots of other genres in their next studio album, Minutes to Midnight.
          The album topped the Billboard charts and had the third best debut week
          of any album that year. They have also collaborated with several other
          artists, most notably with rapper Jay-Z in their mashup album Collision
          Course, and many others on Reanimation.
        </p>
    </main>
</body>
</html>