<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </nav>

    <main>
         <ul class="gallery">
        <li class="img-card">
          <img
            src="/img/covers/Linkin_Park_Hybrid_Theory_Album_Cover.jpg"
            alt=""
          />
    
        </li>
        <li class="img-card">
          <img src="/img/covers/Linkin_Park_Meteora_Album_Cover.jpg" alt="" />
    
        </li>
        <li class="img-card">
          <img
            src="/img/covers/Linkin_Park_Minutes_to_Midnight_cover.jpg"
            alt=""
          />
    
        </li>
        <li class="img-card">
          <img
            src="/img/covers/Linkin_Park_A_Thousand_Suns_Cover2.jpg"
            alt=""
          />
    
        </li>
        <li class="img-card">
          <img src="/img/covers/Linkin_Park_-_Living_Things_cover.jpg" alt="" />
    
        </li>
        <li class="img-card">
          <img
            src="/img/covers/Linkin_Park_The_Hunting_Party_album_art_final.jpg"
            alt=""
          />
    
        </li>
        <li class="img-card">
          <img
            src="/img/covers/Linkin_Park_One_More_Light_album_art_final.jpeg"
            alt=""
          />
    
        </li>
      </ul>
    </main>
</body>
</html>