<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>

    <main>
      <ul class="albums">
        <li class="album">
          <img
            src="/img/covers/Linkin_Park_Hybrid_Theory_Album_Cover.jpg"
            alt=""
          />
          <h3>Hybrid Theory</h3>
        </li>
        <li class="album">
          <img src="/img/covers/Linkin_Park_Meteora_Album_Cover.jpg" alt="" />
          <h3>Meteora</h3>
        </li>
        <li class="album">
          <img
            src="/img/covers/Linkin_Park_Minutes_to_Midnight_cover.jpg"
            alt=""
          />
          <h3>Minutes to Midnight</h3>
        </li>
        <li class="album">
          <img
            src="/img/covers/Linkin_Park_A_Thousand_Suns_Cover2.jpg"
            alt=""
          />
          <h3>A Thoundsand Suns</h3>
        </li>
        <li class="album">
          <img src="/img/covers/Linkin_Park_-_Living_Things_cover.jpg" alt="" />
          <h3>Living Things</h3>
        </li>
        <li class="album">
          <img
            src="p/img/covers/Linkin_Park_The_Hunting_Party_album_art_final.jpg"
            alt=""
          />
          <h3>The Hunting Party</h3>
        </li>
        <li class="album">
          <img
            src="/img/covers/Linkin_Park_One_More_Light_album_art_final.jpeg"
            alt=""
          />
          <h3>One More Light</h3>
        </li>
      </ul>
    </main>
  </body>
</html>
