*,
* * {
  box-sizing: border-box;
}

* body {
  font-family: "Righteous", cursive;
  color: white;
}

body {
  background-image: url("/img/background.jpg");
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* ul reset */

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

li {
  display: inline-block;
}

main,
nav {
  position: relative;
  width: 80%;
  marging: 2em auto;
}

.img-card img {
  transform: scale(0.5);
  transition: all 0.5s ease-in-out;
}

.img-card:hover img {
  transform: scale(1);
}
